

@{
    ViewBag.Title = "File Upload";
}

<h3>@ViewBag.Message</h3>

<h2>File Upload</h2>

@using(Html.BeginForm("UploadFiles", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="file" name="file" />
        <label id="label1" class="custom-file-label" for="file">Choose file</label>
    </div>
</div>
<br/>
<div class="row">
    <input class="btn btn-primary" type="submit" value="Upload" />
</div>     
}


@section scripts{
    
    <script type="text/javascript">
        console.log('working');
        $(document).ready(function () {

            $('.custom-file-input').on('change', function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });

        });
    </script>
    }